/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.backgroundBlue { 
  background-color: royalblue; 
}

.fontWhite {
  color: white; 
}

.fontOpenSans {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.fontSize120 {
  font-size: 120%; 
}

body {
  background-color: rgb(253, 253, 253)
}

li {
  list-style: none;
}

.nav-link {
  color: white; 
}

.bottomBorder {
  border-bottom: 1.5px solid black;
}

img {
  padding-left: 10px; 
}

#pawPrint {
  width: 25px; 
  height: auto; 
}

.homePageText {
  text-align: center; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 120%;
}

.homePageHeader {
  margin-top: 7%; 
}

.homePageLink {
  text-align: center; 
}

a {
  color: rgb(44, 86, 214)
}

.newHeader {
  padding-top: 6%; 
  font-weight: 300; 
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; 
  font-size: 120%; 
}

.center {
  text-align: left; 
  font-family: Arial, Helvetica, sans-serif;
  display: block; 
  margin: auto; 
  padding-top: 10px; 
}

.capsule {
  width: 35%; 
  margin: auto; 
}

#breed {
  margin-bottom: 20px; 
}

.indexBtn { 
  padding: 10px 20px; 
  margin: auto;
  display: block;
  margin-top: 4.5%; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  font-weight: 300;
  background-color: #f2c025;
  color: rgb(255, 255, 255);
  border-radius: 10px; 
  border: none; 
  -webkit-transition: color .3s;
  margin-bottom: 29px; 
}

.indexBtn:hover {
  color: black;
  transition: 0.5s;
}

.bottomBorderAsset {
  margin: auto; 
  margin-top: 10px;  
  margin-bottom: 10px; 
  width: 20%; 
  border-bottom: 1px solid rgb(212, 174, 174);
}

.tableHeader { 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 110%; 
  font-weight: 300; 
  line-height: 1; 
}

.pageText { 
  font-family: Arial, Helvetica, sans-serif; 
  line-height: 0; 
  margin-bottom: 26px; 
}

.animalContainer {
  width: 65%;
  display: block; 
  margin: auto; 
}

.customCard{
  background-color: white; 
  border: 1px solid lightgrey; 
  border-radius: 4px; 
  margin: auto; 
  width: 55%; 
  padding: 1.8%; 
  padding-top: 1%; 
  padding-bottom: 0; 
  margin-bottom: 20px;  
}

.detailsCard {
  background-color: white; 
  border: 1px solid lightgrey; 
  border-radius: 4px; 
  margin: auto; 
  width: 45%; 
  margin-top: 130px; 
  padding: 1.5%; 
}

.bold {
  font-weight: 300; 
}

.detailsMargins { 
  margin-top: 2%; 
}

.detailsLink {
  display: inline; 
}

.spacer {
  margin-left: 5px; 
  margin-right: 5px; 
}

.centerText {
  text-align: center; 
}