
@{
    ViewData["Title"] = "Details";
}

<h1>Cat Info:</h1>
<ul>
  <li>ID: @Model.CatId</li>
  <li>Name: @Model.Name</li>
  <li>Type: @Model.Type</li>
  <li>Age: @Model.Age</li>
</ul>
<br>

<a href="/Cats/Edit/@(Model.CatId)"><p>Edit</p></a>
<br>

<a href="/Cats"><p>Return</p></a>

<a href="/Cats/Delete/@(Model.CatId)"><p>DELETE ANIMAL</p></a>