@{
    ViewData["Title"] = "Details";
}

<div class='detailsCard'>
  <p class='bold detailsMargins'>Cat Info:</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>@Model.CatId</td>
        <td>@Model.Name</td>
        <td>@Model.Type</td>
        <td>@Model.Age</td>
      </tr>
    </tbody>
  </table> 
  <a class='detailsLink' href="/Cats/Edit/@(Model.CatId)">Edit Cat</a>
  <a class='spacer'>•</a>
  <a class='detailsLink' href="/Cats">Return to Cats Page</a>
  <a class=spacer>•</a>
  <a class='detailsLink' href="/Cats/Delete/@(Model.CatId)">Delete Cat</a>
</div> 