  
<h1>Edit Info:</h1>
<form action="/Cats/Details/@(Model.CatId)" method="post">
  <label for="name">Update the Cat's name : </label>
  <input id="name" name="name" type="text" value="@(Model.Name)">
  <label for="age">Update the Cat's Age</label>
  <input id="age" name="age" type="number" value="@(Model.Age)">
  <label for="type">Update the Cat's Type</label>
  <input id="type" name="type" type="text" value="@(Model.Type)">
  <button type="submit">Go!</button>
</form>

<a href="/Cats/Details/@(Model.CatId)"><p>Return to Details</p></a>