@{
    ViewData["Title"] = "Cats Page!";
}



<p class="newHeader">Add a new Cat</p>
<div class='bottomBorderAsset'></div>
<div class='capsule'>
  <form action="/cats" method="post">
    <label for="name" class='center'>Enter the Cat's Name </label>
    <input id="name" class='form-control' name="name" type="text">
    <label for="age" class='center'>Enter the Cat's Age</label>
    <input id="age" class='form-control' name="age" type="number">
    <label for="breed" class='center'>Enter the Cat's Breed</label>
    <input id="breed" class='form-control' name="breed" type="text">
    <button type="submit" class='indexBtn'>Submit</button>
  </form>
</div>

<div class='customCard'>
  <p class='tableHeader'>All cats in the database</p>
  <p class="pageText">Click on a cat to pull up it's individual page</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
    @foreach (var cat in Model)
    {
        <tr>
          <td><a href="/Cats/Details/@(cat.CatId)">@cat.CatId</a></td>
          <td><a href="/Cats/Details/@(cat.CatId)">@cat.Name</a></td>
          <td><a href="/Cats/Details/@(cat.CatId)">@cat.Type</a></td>
          <td><a href="/Cats/Details/@(cat.CatId)">@cat.Age</a></td>
        </tr>
    }
    </tbody>
  </table>
</div> 