@{
    ViewData["Title"] = "Details";
}

<h1>Dog Info:</h1>
<ul>
  <li>ID: @Model.DogId</li>
  <li>Name: @Model.Name</li>
  <li>Breed: @Model.Breed</li>
  <li>Age: @Model.Age</li>
</ul>
<br>

<a href="/Dogs/Edit/@(Model.DogId)"><p>Edit</p></a>
<br>

<a href="/Dogs"><p>Return</p></a>

<a href="/Dogs/Delete/@(Model.DogId)"><p>DELETE ANIMAL</p></a>