<p class="newHeader">Edit Dog Form</p>
<div class='bottomBorderAsset'></div>
<div class='capsule'>
  <form action="/Dogs/Details/@(Model.DogId)" method="post">
    <label for="name" class='center'>Update the Dog's name : </label>
    <input id="name" class='form-control' name="name" type="text" value="@(Model.Name)">
    <label for="age" class='center'>Update the Dog's Age</label>
    <input id="age" class='form-control' name="age" type="number" value="@(Model.Age)">
    <label for="type" class='center'>Update the Dog's Breed</label>
    <input id="type" class='form-control' name="breed" type="text" value="@(Model.Breed)">
    <button type="submit" class='indexBtn'>Submit</button>
  </form>
<div class='capsule'>

<a class ='centerText' href="/Dogs/Details/@(Model.DogId)"><p>Return to Details</p></a>