@{
    ViewData["Title"] = "Dogs Page!";
}



<p class="newDogHeader">Add a new Dog</h1>
<div class='bottomBorderAsset'></div>
<div class='capsule'>
  <form action="/dogs" method="post">
    <label for="name" class='center'>Enter the Dog's Name </label>
    <input id="name" class='form-control' name="name" type="text">
    <label for="age" class='center'>Enter the Dog's Age</label>
    <input id="age" class='form-control' name="age" type="number">
    <label for="breed" class='center'>Enter the Dog's Breed</label>
    <input id="breed" class='form-control' name="breed" type="text">
    <button type="submit" class='dogBtn'>Submit</button>
  </form>
</div>
<div class='bottomBorderAsset'></div> 

<h1>All dogs :</h1>

<ol>
@foreach (var dog in Model)
{
  <ul>
    <li>ID: @dog.DogId</li>
    <li>Name: @dog.Name</li>
    <li>Breed: @dog.Breed</li>
    <li>Age: @dog.Age</li>
  </ul>
  <a href="/Dogs/Details/@(dog.DogId)"><p>View Details</p></a>
  <br>
}

</ol>